<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyADIjYSHReeTPyjCQ6-C32AkvnF4ltyTU0</string>
	<key>GCM_SENDER_ID</key>
	<string>316114893899</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.frontierTrial</string>
	<key>PROJECT_ID</key>
	<string>frontier-trial</string>
	<key>STORAGE_BUCKET</key>
	<string>frontier-trial.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:316114893899:ios:1877465d0f138319e761ce</string>
</dict>
</plist>